@import url(https://cdn.geocat.net/css/geocat.base.min.css);

/* GeoCat overrides */

/* general */
body {
  background-color: var(--gc-background-color-body);
}
hr {
  display: none
}
a {
  text-decoration: none;
}
a p {
  text-decoration: underline;
}
.gc-block-inline {
  display: inline-block;
}

/* layout */
.ecl-container .container {
  padding-left: 0;
  padding-right: 0;
}

/* header */

/* ----- colours */
.ecl-page-header-core, .ecl-menu,.ecl-menu:not(.ecl-menu--forced-mobile) .ecl-menu__list {
  background-color: var(--gc-background-color-body);
  color: var(--gc-color);
  border-bottom-width: 2px;
}
.ecl-page-header-core .ecl-container .ecl-container {
  border-bottom: 1px solid var(--gc-border-color);
}
.ecl-page-header-core__title {
  color: var(--gc-color);
}

/* geocat logo */
.gc-logo {
  margin-top: 1rem;
  float: right;
  width: auto;
  height: 30px;
}
.gc-logo-small {
  display: none;
}
.gc-subtitle {
  display: none;
}
@media (max-width: 425px) {
  .gc-logo-small {
    display: block;
    width: auto;
    height: 20px;
  }
  .gc-logo {
    display: none;
  }
}

/* footer */
.ecl-footer-standardised {
  background-color: var(--gc-background-color-body);
}
.ecl-footer-standardised__container {
  border-top: 1px solid var(--gc-border-color);
}
.ecl-footer-standardised__description {
  color: var(--gc-color);
  margin-top: 1rem;
}

/* tabs */
.ecl-menu__item, .ecl-menu:not(.ecl-menu--forced-mobile) .ecl-menu__item {
  padding-left: 0;
}
.ecl-menu__item:nth-child(4), .ecl-menu__item:nth-child(5) {
  /*display: none;*/
}
.ecl-menu__link, .ecl-menu__link:active, .ecl-menu__link:focus, .ecl-menu__link:hover {
  background-color: var(--gc-link-color);
}
@media (min-width: 996px) {
  .ecl-menu:not(.ecl-menu--forced-mobile) .ecl-menu__link {
    color: var(--gc-link-color);
    border-color: var(--gc-link-color);
    border-bottom-width: 1px;
    font-weight: normal;
  }
}
.ecl-menu__item .ecl-menu__link {
  margin-right: 1rem;
  width: auto;
}
.ecl-menu__link:focus {
  outline-color: var(--gc-warning);
}
@media (min-width: 996px) {
  .ecl-menu:not(.ecl-menu--forced-mobile) .ecl-menu__item:hover .ecl-menu__link, .ecl-menu:not(.ecl-menu--forced-mobile) .ecl-menu__item:hover .ecl-menu__link:active,
  .ecl-menu:not(.ecl-menu--forced-mobile) .ecl-menu__item:hover .ecl-menu__link:focus,
  .ecl-menu:not(.ecl-menu--forced-mobile) .ecl-menu__item:hover .ecl-menu__link:hover,
  .ecl-menu:not(.ecl-menu--forced-mobile) .ecl-menu__link:hover {
    background-color: #f2f5f9;
    color: #004494;
    transition-property: background-color, border-bottom-color, color, z-index;
    z-index: 16;
    filter: brightness(100%);
  }
}

/* cards */
.validator-card {
  background-color: var(--gc-background-color-default);
  border-color: var(--gc-border-color);
  text-decoration: none !important;
}
.validator-card .validator-card-description {
  font-size: var(--gc-font-size-default);
  color: var(--gc-color);
  font-weight: normal;
  text-decoration: none;
}
a .validator-card .validator-card-title h4 {
  text-decoration: none;
}
a:focus .validator-card {
  outline-style: auto;
  outline-color: var(--gc-warning);
}
a:hover {
  filter: none;
}
a:hover .validator-card {
  background-color: var(--gc-gray-200);
}
a:hover .validator-card p {
  color: var(--gc-link-color);
}
a:hover .validator-card .btn-inspire-blue {
  color: var(--gc-white);
  background-color: var(--gc-success);
  border-color: var(--gc-success);
}

/* special links */
.inspire-blue {
  color: var(--gc-link-color);
}
/* ----- svg icons */
svg.inspire-blue {
  color: var(--gc-gray-700);
}

/* buttons */
.btn-inspire-blue {
  border: 1px solid var(--gc-color);
}
.btn-inspire-blue:hover, .btn-inspire-blue:active, .btn-inspire-blue:focus {
  background-color: var(--gc-success);
  border-color: var(--gc-success);
}

/* radios */
.ecl-radio__input:checked+.ecl-radio__label .ecl-radio__box {
  border-color: var(--gc-link-color);
}

/* checkboxes */
.ecl-checkbox__input:checked+.ecl-checkbox__label .ecl-checkbox__box {
  background: var(--gc-link-color);
  border-color: var(--gc-link-color);
}

/* test selection */
.ecl-pagination {
  border-top: 1px solid var(--gc-border-color);
}
/* test results */
.rTable {
  padding-top: 15px;
}
.rTableRow th, .rTableRow td {
  padding: 3px 0;
}
.line {
  border-bottom: 1px solid var(--gc-border-color);
  height: 1px;
  margin-top: var(--gc-spacing-default);
  margin-bottom: var(--gc-spacing-default);
}
.ecl-u-type-heading-5 {
  height: auto;
  margin: 0 !important;
}
/* ----- colours */
.text_PASSED, .text_PASSED_MANUAL {
  color: var(--gc-success);
}
.text_FAILED, .text_INTERNAL_ERROR {
  color: var(--gc-warning);
}
.text_RUNNING {
  color: var(--gc-color);
}
.text_SKIPPED {
  color: var(--gc-color);
}
.bg_grey {
  background-color: var(--gc-block-background);
}
.bg_PASSED, .bg_passed, .bg_PASSED_MANUAL, .bg_passed_manual {
  background-color: var(--gc-block-background);
  border-left: 4px solid var(--gc-success);
}
.bg_FAILED, .bg_failed {
  background-color: var(--gc-block-background);
  border-left: 4px solid var(--gc-danger);
}
.bg_INTERNAL_ERROR, .bg_internal_error {
  background-color: var(--gc-block-background);
  border-left: 4px solid var(--gc-warning);
}
.bg_RUNNING, .bg_running, .bg_UNDEFINED, .bg_undefined, .bg_SKIPPED, .bg_skipped {
  background-color: var(--gc-block-background);
}
.border_PASSED, .border_passed, .border_PASSED_MANUAL, .border_passed_manual {
  border-color: var(--gc-success);
}
.border_FAILED, .border_failed {
  border-color: var(--gc-danger);
}
.border_INTERNAL_ERROR, .border_internal_error,.border_RUNNING, .border_running, .border_UNDEFINED, .border_undefined {
  border-color: var(--gc-border-color);
}
.border_SKIPPED, .border_skipped {
  border-color: var(--gc-dark);
}
.buttons_links {
  color: var(--gc-link-color);
}
.expandableContent {
  border: 1px solidvar(--gc-dark);
  padding: 8px;
}